	html,
	body {
		font-size: 62.5%;
		background: rgb(247, 247, 250);
		height: 100%;
		width: 100%;
	}
	
	.linear-font {
		color: #f4873c;
		background-image: linear-gradient(to right, #f55970, #f4883b);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	.amount {
		color: #F4873C;
		font-family: "century gothic";
		font-size: 1.6rem;
	}
	
	.head-bg {
		width: 100%;
		height: 20rem;
		background: linear-gradient(to right, #f55970, #f4883b);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	
	.h-bg {
		width: 100%;
		background: linear-gradient(to right, #f55970, #f4883b);
		height: 6rem;
	}
	
	.padding-content{
		padding: 1.2rem;
	}
	
	.padding-1rem {
		padding: 1rem;
	}
	
	.head {
		padding-top: 4rem;
		padding-bottom: 1rem;
		height: 13rem;
	}
	
	.page-title {
		text-align: center;
		color: white;
		font-size: 2rem;
		margin: 0 auto;
		padding: 2rem 0;
		z-index: 2;
	}
	
	.section {
			background: white;
			position: relative;
			margin: 0 0 1rem 0;
			border-radius: .3rem;
		}
	
	.account-info {
		background: white;
		position: relative;
		margin: 0 0 1rem 0;
		border-radius: .3rem;
	}
	
	.account-icon {
		position: absolute;
		top: -3.5rem;
		left: 0;
		right: 0;
		margin: auto;
		height: 8rem;
		width: 8rem;
	}
	
	.account-title {
		text-align: center;
		padding-top: 2.5rem;
		font-family: "century gothic";
		font-weight: bold;
		font-size: 1.8rem;
	}
	
	.account {
		padding: 0 .5rem;
	}
	
	.account-detail hr {
		width: 1;
		height: 2rem;
		float: left;
		display: inline-block;
		margin-top: 1.5rem;
		border: none;
		border-left: 1px solid rgb(227, 227, 227);
	}
	.account-detail:after{
		clear: both;
		display: block;
		content: '';
	}
	
	.account-detail {
		width: 100%;
	}
	
	.detail-item {
		width: 49.5%;
		text-align: center;
		display: inline-block;
		float: left;
		padding-bottom: 1rem;
		position: relative;
		color: #F4873C;
	}
	
	.account-detail h5 {
		color: rgba(0, 0, 0, .6);
	}